<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Error</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Une erreur c'est produite, vérifiez si le pseudo est correct et que le type de compte est
            correct aussi.</h1>
        <a href="{{ linkgetplayer }}" class="acceuil">Recommencer</a>
    </div>
</body>

</html>