<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Nom:</h1>
        <p>{{nom}}</p>
        <h1>Prenom:</h1>
        <p>{{prenom}}</p>
        <h1>Email:</h1>
        <p>{{email}}</p>
        <h2>Ce que vous venez de faire n'a aucun cas était enregistré c'est un test</h2>
        <a href="/" class="acceuil">Acceuil</a>
    </div>
</body>

</html>